<% unless current_user.standard? %>
<p>Add collaborator to Wiki?</p>
<p>Select collaborator</p>
  <div class="form-group">
  <%= form_for users.each do |f| %>
    <%= f.user "#{user}.name" %>
    <%= f.label :collaborator, class: 'checkbox' do %> 
    <%= f.check_box :collaboration, [wiki_id: @wiki.id, user_id: @user.id] %>Add user as collaborator
    <% end %>
  <% end %>
<p>Invite new collaborator</p>
<% end %>
