<% if policy(Favorite.new).create? %>
  <div class="favorite">
    <% if favorite = current_user.favorited(wiki) %>
      <%= link_to favorite_path(wiki_id: wiki.id, id: favorite.id), class: 'btn btn-info', method: :delete do %>
        <i class="glyphicon glyphicon-thumbs-down"> </i>&nbsp; Unfavorite
      <% end %>
    <% else %>
      <%= link_to favorites_path(wiki_id: wiki.id), class: 'btn btn-primary', method: :post do %>
      <i class="glyphicon glyphicon-star"> </i>&nbsp; Favorite
      <% end %>
    <% end %>
  </div>
<% end %>