<h1>Collaborating Users</h1>
<% current_user.collaborators.each do |person| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to person %>
        <% person.collaboration_wikis.each do |wiki| %>
          <%= link_to "#{wiki.title}", wiki %>
          <%= render partial: 'wikis/buttons', locals: { wiki: wiki } %>
          <p><%= truncate(wiki.body, length: 180, separator: '.') %></p>
        <% end %>
      </h4>
    </div>
  </div>
<% end %>
