<h2>Collaborating Users</h2>
<% current_user.collab_users.each do |person| %>
  <%= "#{person.name}" %>
  
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-info btn-md btn-min-width" data-toggle="modal" data-target="#myModal">
    Collaborations with <%= "#{person.name}" %>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= "Collaborations with #{person.name}" %></h4>
        </div>
        <div class="modal-body">
         <%= render partial: 'wikis/my_wikis', locals: { wiki: wiki, user: person } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<% end %>
