<div class="jumbotron">
  <h1>Hello No User</h1>
    <small>**Sign Up</small>
      <div class="row">
        <div class="col-md-6">
        <h2>**Sign up as Standard user</h2>
          <small>You will be able to create and edit public Wikis</small>
        </div>
        <div class="col-md-6">
        <h2>**Sign up as a Premium user</h2>
          <small>In addition to creating and editing public Wikis, you will be able to create private Wikis and invite collaborators</small>
        </div>
      </div>
    </div>
