<div class="jumbotron">
  <div class="row">
      <% unless @user %>
          <h1 align="center"><%= link_to "Sign up", new_user_registration_path %></h1>
             <div class="row">
                <div class="col-md-6">
                  <h2>Standard User:</h2>
                  <small>You will be able to create and edit public Wikis</small>
                </div>
                <div class="col-md-6">
                  <h2>Premium user:</h2>
                  <small>In addition to creating and editing public Wikis, you will be able to create private Wikis and invite collaborators</small>
                </div>
              </div>
      <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <% if @user && @user.standard? %>
        <h2>Welcome</h2>
          <h4>Would you like to upgrade to a premium membership?</h4>
            <form action="/charges" method="POST">
              <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" >
              </script>
            </form>
      <% end %>
    </div>
  </div>
    <div class="col-md-6">
    </div>
</div>