<div class="row no-margin">
  <% if @user.avatar? %>
      <h4>Current Avatar: <%= image_tag( @user.avatar.profile.url ) %></h4>
  <% end %>
  <h4><%= "Name: #{@user.name}" %></h4>
  <h4><%= "Email: #{@user.email}" %></h4>
  <h4><%= "Membership Level: #{@user.role.capitalize}" %></h4>
</div>
