<ol class="breadcrumb navbar-fixed-top" >
  <li><%= link_to "Home", :root %></li>
  <li class="active">About</li>
</ol>
<div class="container">
  <h1>About</h1>
  <div class="jumbotron">
    <div class="row">
      <h2>Created by: <a href="http://morganriffer.com">Morgan Riffer</a></h2>
      
    </div>
  </div>
    <div class="row">
      <h3>View planned features in the <a href="https://github.com/TechnologyRiff/blocipedia">GitHub Repository</a>.</h3>
  </div>
</div>
