<% unless current_user %>
  <%= render partial: 'users/user' %>
<% else %>
<div class="container">
  <div class="row">
    <div class="col-md-6 pull-left">
      <%= render partial: 'wikis/public_wikis' %>
        <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-6 pull-right">
    <h2><%#= wiki.most_favorite %></h2>
    </div>
  </div>
</div>
<% end %>