<div class="container">
  <% if current_user %>
    <div class="jumbotron">
      <h1>Welcome</h1>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
        </div>
        <div class="panel-body center-align">
          <h3><%= link_to "Browse Wikis", wikis_path %></h3>
          <h3>&nbsp;</h3>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
        </div>
        <div class="panel-body center-align">
          <h3><%= link_to "Browse Users", users_path %>
          <h3>&nbsp;</h3>
        </div>
      </div>
    </div>    
  <% else %>
    <div class="row no-margin">
      <%= render partial: 'wikis/public_wikis', locals: { wiki: @wiki } %>
    </div>
  <% end %>
</div>
