<h1>Collaborating Wikis</h1>
<% current_user.collaboration_wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to wiki.title, wiki %>
        <p><%= truncate(wiki.body, length: 180, separator: '.') %></p>
      </h4>
        <%= render partial: 'wikis/buttons', locals: { wiki: wiki } %>
    </div>
  </div>
<% end %>