<h2>Private Wikis</h2>
<% @private_wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to "#{wiki.title}", wiki %>
        <p><%= truncate(wiki.body, length: 180, separator: '.') %></p>
      </h4>
        <%= render partial: 'wikis/buttons', locals: { wiki: wiki } %> 
    </div>
  </div>
<%# end %>
<% end %>
<% if current_user.standard? %>
  <p>You are unable to create private wikis. Please upgrade your account to enable this feature.</p>
  <%= link_to "My Profile", user_path(current_user) %>
<% end %>
