<ol class="breadcrumb navbar-fixed-top">
  <li><% link_to :root %>Home</a></li>
  <li><%= link_to "Wikis", wikis_path %></li>
  <li><%= link_to "#{@wiki.title}", wiki_path(@wiki) %></li>
  <li class="active">Edit</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-8">
    <%= render partial: 'wikis/form', locals: { wiki: @wiki } %>
      
    </div>
  </div>
</div>




