<ol class="breadcrumb">
  <li><% link_to :root %>Home</a></li>
  <li><a href="../">Wikis</a></li>
  <li><a href="#"><%= @wiki.title %></a></li>
  <li class="active">Edit</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-8">
    <%= render partial: 'wikis/form', locals: { wiki: @wiki } %>
      
    </div>
  </div>
</div>




