@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";

.nav {

  
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.favorite {
  margin-top: 20px;
}

.row {
  margin-left: 0px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}